*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}
html,body{
  height:100%;
}
#root{
  height: 100%;
  -webkit-overflow-scrolling:touch;  /*解决苹果手机滑动平滑问题*/

}
.root{
  display: flex;
  flex-direction:column;
  height:100%;
}
header{
  height: 80px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  background-color: rgba(0,0,0,0.8);
  justify-content: space-between;
  padding: 0 10px;
}
header h3{
  color:#fff;
}
header>button{
  width: 50px;
  height: 30%;
  border-radius: 3px;
  border: none;
  background-color: #008579;
  color:#ccc;
  font-size: 5%;
  cursor: pointer;
}
footer{
  height: 80px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: rgba(0,0,0,0.9);

}
footer a{
  flex-grow:1;
  color:#2196f3;
  opacity: 0.8;
  border-right: 1px #908787 solid;
}
footer a:last-child{
  border-right:none;
}
.mywrap{
  flex-grow: 1;
  overflow-y: scroll;
  display: flex;
  overflow-y: auto;
}
.home{
  width: 100%;
  background-image: url(./images/2.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}
.home-cover{
  display: flex;
  height: 50%;
  background-color: rgba(0,0,0,0.5);
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 25%;
}
.home-cover h1,p,a{
  color:#fff;
  text-decoration: none;
  line-height: 30px;
}
.home-cover p{
  opacity: 0.8;
}
.blog-card{
  width: 96%;
  margin: 10px auto;
}
.blog-index{
  background-color: #03a9f4;
  text-align: center;
  line-height: 2.4;
}
.blog-index>span{
  display: block;
  border:2px #fff solid;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  color:#fff;
  box-shadow: 1px 1px 2px 2px #c8c8c8;
}
.blog-desc{
  padding-left: 10px;
  box-shadow: 1px 1px 10px #000;
  position:relative;
  padding-bottom: 10px;
  padding-top: 10px;
}
.blog-desc>p{
  color:#383838;
}
.blog-desc a{
  display: block;
  padding: 2px 5px;
  width: 5em;
  text-align: center;
  text-decoration: none;
  background-color: deeppink;
  border-radius: 5%;
  color: #fff;
}
.blog-desc a:hover{
  background-color: #f16b99;
}
.blog-desc span{
  position: absolute;
  right:15px;
  bottom:10px;
  color:rgba(0,0,0,0.6);
}
.highlight { background: #fff; }
.highlight .c { color: #998; font-style: italic; }
.highlight .err { color: #a61717; background-color: #e3d2d2; }
.highlight .k { font-weight: bold; }
.highlight .o { font-weight: bold; }
.highlight .cm { color: #998; font-style: italic; }
.highlight .cp { color: #999; font-weight: bold; }
.highlight .c1 { color: #998; font-style: italic; }
.highlight .cs { color: #999; font-weight: bold; font-style: italic; }
.highlight .gd { color: #000; background-color: #fdd; }
.highlight .gd .x { color: #000; background-color: #faa; }
.highlight .ge { font-style: italic; }
.highlight .gr { color: #a00; }
.highlight .gh { color: #999; }
.highlight .gi { color: #000; background-color: #dfd; }
.highlight .gi .x { color: #000; background-color: #afa; }
.highlight .go { color: #888; }
.highlight .gp { color: #009900; }
.highlight .gs { font-weight: bold; }
.highlight .gu { color: #aaa; }
.highlight .gt { color: #a00; }
.highlight .kc { font-weight: bold; }
.highlight .kd { font-weight: bold; }
.highlight .kp { font-weight: bold; }
.highlight .kr { font-weight: bold; }
.highlight .kt { color: #458; font-weight: bold; }
.highlight .m { color: #099; }
.highlight .s { color: #d14; }
.highlight .na { color: #008080; }
.highlight .nb { color: #0086B3; }
.highlight .nc { color: #458; font-weight: bold; }
.highlight .no { color: #008080; }
.highlight .ni { color: #800080; }
.highlight .ne { color: #900; font-weight: bold; }
.highlight .nf { color: #900; font-weight: bold; }
.highlight .nn { color: #555; }
.highlight .nt { color: #000080; }
.highlight .nv { color: #008080; }
.highlight .ow { font-weight: bold; }
.highlight .w { color: #bbb; }
.highlight .mf { color: #099; }
.highlight .mh { color: #099; }
.highlight .mi { color: #099; }
.highlight .mo { color: #099; }
.highlight .sb { color: #d14; }
.highlight .sc { color: #d14; }
.highlight .sd { color: #d14; }
.highlight .s2 { color: #d14; }
.highlight .se { color: #d14; }
.highlight .sh { color: #d14; }
.highlight .si { color: #d14; }
.highlight .sx { color: #d14; }
.highlight .sr { color: #009926; }
.highlight .s1 { color: #d14; }
.highlight .ss { color: #990073; }
.highlight .bp { color: #999; }
.highlight .vc { color: #008080; }
.highlight .vg { color: #008080; }
.highlight .vi { color: #008080; }
.highlight .il { color: #099; }
