*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}
html,body{
  height:100%;
}
#root{
  height: 100%;
  -webkit-overflow-scrolling:touch;  /*解决苹果手机滑动平滑问题*/

}
.root{
  display: flex;
  flex-direction:column;
  height:100%;
}
@media(min-width:750px){
  .root{
    flex-direction: row;
  }
}
header{
  height: 80px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  background-color: rgba(0,0,0,0.8);
  justify-content: space-between;
  padding: 0 10px;
}
header h3{
  color:#fff;
}
header>button{
  width: 50px;
  height: 30%;
  border-radius: 3px;
  border: none;
  background-color: #008579;
  color:#ccc;
  font-size: 5%;
  cursor: pointer;
  outline: none;
}
footer{
  height: 80px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: rgba(0,0,0,0.9);

}
footer a{
  flex-grow:1;
  color:#2196f3;
  opacity: 0.8;
  border-right: 1px #908787 solid;
}
footer a:last-child{
  border-right:none;
}
.mywrap{
  flex-grow: 1;
  overflow-y: scroll;
  display: flex;
  overflow-y: auto;
}
.home{
  display: flex;
  align-items: center;
  width: 100%;
  background-image: url(./images/2.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 30% 0%;
}
.home-cover{
  display: flex;
  height: 50%;
  line-height: 50%;
  background-color: rgba(0,0,0,0.5);
  align-items: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*justify-content: center;*/
  flex-direction: column;
  /*margin-top: 35%;*/
  flex-grow: 1;
}
.home-cover>h1,a{
  color:#fff;
  text-decoration: none;
  line-height: 30px;
}
.home-cover>p{
  opacity: 0.8;
  color:#fff;
  text-decoration: none;
  line-height: 30px;
}
.blog-card{
  width: 96%;
  margin: 10px auto;
}
.blog-index{
  background-color: rgb(0, 188, 212);
  text-align: center;
  line-height: 2.4;
}
.blog-index>span{
  display: block;
  border:2px #fff solid;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  color:#fff;
  box-shadow: 1px 1px 2px 2px #c8c8c8;
}
.blog-desc{
  padding-left: 10px;
  box-shadow: 1px 1px 10px #000;
  position:relative;
  padding-bottom: 10px;
  padding-top: 10px;
}
.blog-desc>p{
  color:#383838;
}
.blog-desc a{
  display: block;
  padding: 2px 5px;
  width: 5em;
  text-align: center;
  text-decoration: none;
  background-color: deeppink;
  border-radius: 5%;
  color: #fff;
}
.blog-desc a:hover{
  background-color: #f16b99;
}
.blog-desc span{
  position: absolute;
  right:15px;
  bottom:10px;
  color:rgba(0,0,0,0.6);
}
.post-content {
  overflow-x: auto;
  color: #6d6d6d;
  line-height: 1.8;
  width: 96%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 10xp;
  border: 1px solid #ddd;
  background-color: #fff;
  padding-top: 1em;
  padding-bottom: 30px;
  padding-left: 1em;
  padding-right: 1em;
}
.post-content h1 {
  text-align: center;
  font-size: 1.5em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
.post-content ol {
  padding-left: 20px;
}
.post-content ul {
  padding-left: 20px;
}
.post-content li {
  list-style-type: circle;
}
.post-content pre {
  background-color: #f8f8f8;
  display: block;
  padding: 20px;
  font-size: 14px;
  color: #777777;
  overflow-x: auto;
  font-weight: 600;
}
.post-content pre code {
  background-color: none;
}
.post-content p code {
  font-size: 14px;
  background-color: pink;
  padding: 4px;
}
.post-content blockquote {
  border-left: 5px solid #00bcd4;
  font-style: italic;
  font-weight: 400;
  padding-left: 20px;
  line-height: 30px;
  margin-bottom: 33px;
  margin-left: 0;
}
.post-content p {
  color: #606060;
  font-weight: 400;
  line-height: 1.95;
  margin-bottom: 20px;
}
.post-content img {
  width: 100%;
  display: block;
  height: auto;
}
.post-content a {
  color: #ff4081;
  text-decoration: none;
}
.post-content a:hover {
  color: #444;
}
.post-content a.video {
  display: block;
  line-height: 2.3;
  text-align: center;
}

.leftnav{
  width: 260px;
  /*height: 80px;*/
  /*display: flex;*/
  flex-shrink: 0;
  background-color: rgba(0,0,0,0.9);

}
.leftnav>h3{
  color:#fff;
  text-align: center;
  line-height: 2.6;
  font-size: 24px;
  border-bottom: 2px solid #fff;
}
.leftnav>a{
  display: block;
  text-decoration: none;
  font-size: 20px;
  line-height: 50px;
  margin-left: 25px;
  color:#2196f3;
  opacity: 0.8;
}
.about{
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  width: 100%;
}
.about img{
  width: 60px;
}
.about>ul{
  padding: 5px;
}
.about>ul>li>dt>i{
  font-size: 18px;
  color:#0097A7;
  margin-right: 2px;
}
.about>ul>li>dd>a{
  color:#00BCD4;
}
.about>ul>li>dd>ul{
  border-left: 2px solid #0097A7;
  padding: 0px 20px;
  position: relative;
  list-style: none;
}
.about>ul>li>dd>ul>li>h3{
  color:#000;
}
.about>ul>li>dd>ul>li>p{
  color:#000;
}
.about>ul>li>dt{
  border-bottom: 1px solid #0097A7;
  line-height: 30px;
  padding: 5px;
  margin-bottom: 5px;
}
.about>ul>li>dd{
  line-height: 30px;
  padding: 5px;
}
.about>ul>li:nth-child(3)>dd{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.about>ul>li>dt>span{
  color:#0097A7;
  font-size: 18px;
}
.about>ul>li>dd>span{
  color:rgba(0,0,0,0.6);
  font-weight: bold;
}
.about>ul>li>dd>button{
  margin: 5px;
}
.about>ul>li>dd>lable{
  color:#969696;
}
.about>ul>li>dd>ul>li>div{
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #0097A7;
  position: absolute;
  left:-10px;
}
.about>ul>li>dd>ul>li>h3{
  color:#0097A7;
}
.about>ul>li>dd>ul>li>p{
  color:rgba(0,0,0,0.6);
}
.about>ul>li>p{
  color:rgba(0,0,0,0.6);
  line-height: 25px;
}
.work{
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
}
.work>div{
  width: 250px;
  height: 350px;
  padding: 20px 10px;
  margin: 5px;
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 9px #ccc;
}
.work div img{
  display: block;
  width: 80%;
  height: 50%;
  margin: 0 auto;
  border: 2px solid #ccc;
}
.work div h3{
  font-size: 22px;
}
.work div p{
  color:#525252;
}
.about-li{
  position: relative;
}
.about-li .img{
  position: absolute;
  right: 0px;
}
.about .img>img{
  width: 100px;

}
.material{
  display: flex;
  align-items: center;
  justify-content: center;
}
.select{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add{
  display: none;
}
